# big data files 
bigdata_gadm/
bigdata_gridfinder/
bigdata_jrc_pop/
bigdata_eez/
bigdata_jrc_flooding/
bigdata_solar_pvout/
bigdata_solar_cmip6/
bigdata_wind_atlas/
bigdata_wind_cmip6/
bigdata_wind_era5/

# Python cache
__pycache__/
*.pyc
*.pyo

# Output files
outputs_global/
outputs_per_country/
outputs_processed_fig/
outputs_arcgis/

# OS files
.DS_Store
Thumbs.db