# big data files 
bigdata_gadm/
bigdata_gridfinder/
bigdata_jrc_pop/
bigdata_eez/

# Python cache
__pycache__/
*.pyc
*.pyo

# Output files
outputs_global/
outputs_per_country/
outputs_processed_fig/

# OS files
.DS_Store
Thumbs.db